<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1.} - %msg%n%throwable}
                </pattern>>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>

        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.springframework.web.servlet.DispatcherServlet" level="debug" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.springframework.data" level="info" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>

        <Logger name="io.mattmusc.domain" level="info" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>

        <Root>
            <AppenderRef ref="Console-Appender"/>
        </Root>

    </Loggers>
</Configuration>